body {
  color: #FFFFFF;
  background-color: #add8e6;
  height: 100%; 
  background-position: center;
  background-repeat: repeat;
  height: 100%;
  text-align: center;
}

h1 {
  @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@500&display=swap');
  font-family: 'Noto Sans JP', sans-serif;
  style-font: sans-serif;
  color: white;
  text-align: center;
}


p {
  text-align: center;
  color: white;
}
html {
    height: 100%;
}

a:link {
      color: #ff0000;
}
a:visited {
      color: #FFA500;
}
a:hover, a:active, a:focus {
      color: #FF69B4;
}



